@import "tailwindcss";
@import "plyr/dist/plyr.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Make Plyr feel "invisible" (no UI). */
.plyr__controls,
.plyr__control,
.plyr__progress,
.plyr__time,
.plyr__menu,
.plyr__tooltip,
.plyr__volume {
  display: none !important;
}

.plyr {
  width: 100%;
  height: 100%;
}

.plyr video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
